<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getName()}">Name</p>
<p th:text="${user.getId()}">Id</p>
<p th:text="${user.getAge()}">Age</p>
<p th:text="${user.getSex()}">Sex</p>

<div th:switch="${electives}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Electives</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="elective : ${electives}">
                <td th:text="${elective.getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:switch="${freeElectives}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Free Electives</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="elective : ${freeElectives}">
                <td th:text="${elective.getName()}"></td>
                <td>
                    <form th:method="PATCH" th:action="@{/users/{id}/addElective(id=${user.getId()})}">
                        <input th:name="electiveId" th:type="hidden" th:value="${elective.getId}">
                        <input type="submit" value="Add">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>