<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form th:object="${user}" th:action="@{/users/{id}(id=${user.getId()})}" th:method="PATCH">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <label for="Name">Name</label>
    <input type="text" th:field="*{name}" id="Name" placeholder="Name">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>